@using CarServiceShopManage.Web.Models
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png" asp-append-version="true">

    <title>Araç Yönetim</title>

    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.5/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.5/css/dx.light.css" />

    <!-- vendor css -->
    <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/assets/css/dashforge.css" asp-append-version="true">
  </head>
  <body>

    <aside class="aside aside-fixed">
      <div class="aside-header">
        <a href="/" class="aside-logo">Araç<span> Yönetim</span></a>
        <a href="" class="aside-menu-link">
          <i data-feather="menu"></i>
          <i data-feather="x"></i>
        </a>
      </div>
      <div class="aside-body">
        <div class="aside-loggedin">
          <div class="d-flex align-items-center justify-content-start">
            <a href="" class="avatar"><img src="~/assets/img/img1.png" class="rounded-circle" alt="" asp-append-version="true"></a>
            <div class="aside-alert-link">
              <a href="/Account/Logout" data-toggle="tooltip" title="Oturumu Kapat"><i data-feather="log-out"></i></a>
            </div>
          </div>
          <div class="aside-loggedin-user">
            <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
              <h6 class="tx-semibold mg-b-0">@Context.Session.GetString(Metrics.SessionKeys.UserName)</h6>
              <i data-feather="chevron-down"></i>
            </a>
            <p class="tx-color-03 tx-12 mg-b-0">@Context.Session.GetString(Metrics.SessionKeys.FirmaName)</p>
          </div>
          <div class="collapse" id="loggedinMenu">
            <ul class="nav nav-aside mg-b-0">
              <li class="nav-item"><a href="/Account/Logout" class="nav-link"><i data-feather="log-out"></i> <span>Oturumu Kapat</span></a></li>
            </ul>
          </div>
        </div><!-- aside-loggedin -->
        <ul class="nav nav-aside" id="menuul">
          <li class="nav-label">Yönetim</li>
        </ul>
      </div>
    </aside>

    <div class="content ht-100v pd-0">
      <div class="content-header">
        <div class="content-search">
          
        </div>
        <nav class="nav">
          <a href="/Account/Logout" class="nav-link"><i data-feather="log-out"></i></a>
        </nav>
      </div><!-- content-header -->

      <div class="content-body">
        <div class="container pd-x-0">
          <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                  <li class="breadcrumb-item"><a href="/">Araç Yönetim</a></li>
                  <li class="breadcrumb-item active pageHeader" aria-current="page"></li>
                </ol>
              </nav>
              <h4 class="mg-b-0 tx-spacing--1 pageHeader"></h4>
            </div>
            <div class="d-none d-md-block">
              <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5" data-toggle="modal" data-target="#genericmodal" onclick="clearForm()">
                <i data-feather="file" class="wd-10 mg-r-5"></i> Ekle
              </button>
            </div>
          </div>

        @RenderBody()
        </div>
      </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"  asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>

    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"  asp-append-version="true"></script>
    <script src="~/lib/jquery.flot/jquery.flot.js"  asp-append-version="true"></script>
    <script src="~/lib/jquery.flot/jquery.flot.stack.js"  asp-append-version="true"></script>
    <script src="~/lib/jquery.flot/jquery.flot.resize.js"  asp-append-version="true"></script>
    <script src="~/lib/feather-icons/feather.min.js"  asp-append-version="true"></script>
    <script src="~/assets/js/dashforge.js"  asp-append-version="true"></script>
    <script src="~/assets/js/dashforge.aside.js"  asp-append-version="true"></script>
    <script src="~/assets/js/dashforge.sampledata.js"  asp-append-version="true"></script>
    <script src="~/main-pages.js"  asp-append-version="true"></script>
    <script src="~/main.js"  asp-append-version="true"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/19.2.5/js/dx.all.js"></script>

    @RenderSection("Scripts", required: false)
    
  </body>
</html>
