
<table id="generictable" class="table">
</table>

<div class="modal fade" id="genericmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title pageHeader" id="exampleModalLabel2"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="genericforparent" class="modal-body" method="post">
                <input name="id" hidden="" />
                <div id="genericform">
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title pageHeader" id="exampleModalLabel2"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek İstediğinize Emin Misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Sil</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="aracmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title pageHeader" id="exampleModalLabel2"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w50 font-default-minus fl">
                    <svg class="db ma" version="1.1" style="height: 430px" xmlns="http://www.w3.org/2000/svg">

                        <desc>Created by Arabam IT</desc>
                        <defs>
                            <linearGradient id="Gradient_local" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color: #fff;stop-opacity: 1"></stop>
                                <stop offset="0%" style="stop-color: #fff;stop-opacity: 1"></stop>
                                <stop offset="5%" style="stop-color: #ffdb4d;stop-opacity: 1"></stop>
                                <stop offset="10%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="10%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="15%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="15%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="20%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="20%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="25%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="25%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="30%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="30%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="35%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="35%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="40%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="40%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="45%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="45%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="50%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="50%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="55%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="55%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="60%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="60%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="65%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="65%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="70%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="70%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="75%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="75%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="80%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="80%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="85%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="85%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="90%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="90%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="95%" style="stop-color: #fff; stop-opacity: 1"></stop>
                                <stop offset="95%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>
                                <stop offset="100%" style="stop-color: #ffdb4d; stop-opacity: 1"></stop>

                            </linearGradient>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g>
                                <g transform="translate(156.5 219.5) rotate(-90) translate(-188.5 -144.5)">
                                    <g transform="translate(0)">
                                        <path d="m311.85 23.096c0-1.3004-0.20081-2.5488-0.50203-3.8493l-2.8616-11.08 0.40162-2.4448c0.40162-2.2367-1.2049-4.3174-3.4138-4.4215l-19.931-1.1444c-1.4057-0.10403-2.5102 1.1444-2.4097 2.5488 0.20081 2.1847 0.45183 4.4215 0.50203 6.8142 0.40162 13.472-9.8398 24.916-22.842 24.76-12.4-0.10403-22.441-10.559-22.441-23.46 0-2.965 0.050203-5.6179 0.25102-8.3227 0.10041-1.3524-0.95386-2.4968-2.2591-2.4968h-110.6c-1.4057 0-2.46 1.2484-2.2591 2.7049 0.35142 2.3408 0.50203 4.7336 0.50203 7.3344 0.15061 13.004-9.9402 24.188-22.491 24.292-12.601 0.10403-22.842-10.455-22.842-23.46 0-0.67622 0.050203-1.4045 0.10041-2.0807 0.15061-1.5605-1.2551-2.7569-2.711-2.4448l-2.962 0.62421c-1.3053 0.10403-5.3215 0.57219-8.8859 3.9013-1.5563 1.4565-2.5604 3.017-3.2632 4.4215-1.2049 2.4448-2.7612 4.7336-4.6187 6.7622-0.80325 0.88429-1.6567 1.8206-2.46 2.7049-1.8575 3.2251-0.10041 6.7102-0.25102 10.455-0.20081 6.4501 3.8154 12.692 2.2089 19.142-0.25102 0.93631 0.10041 1.9767 0.85345 2.4968 2.6608 1.9246 5.8236 2.913 9.0868 2.913h11.547c0.65264 0 1.2551 0.15605 1.8073 0.46815 2.6106 1.6645 5.1709 3.3811 7.7815 5.0457 9.639 6.2941 20.182 10.924 31.327 13.576 0.60244 0.15605 1.2049 0.26009 1.8073 0.41614 7.5807 1.6645 14.509 2.3408 20.282 2.4968h20.734c20.935 0 41.518-5.6699 59.691-16.437l21.738-12.848 43.928-7.6465c6.8778-1.1964 13.404-4.0573 19.027-8.3748 0.050204-0.052017 6.426-3.4851 6.426-13.368z" stroke="#D3D2D2"></path>
                                        <path d="m106.51 55.944c-0.52167 0.93363-0.66394 2.0147-0.33197 2.9974 0.85364 2.506 2.5609 4.5207 4.7899 5.7492l4.6476 2.506c9.5798 5.2087 20.345 7.9113 31.158 7.9113h13.421l3.13-17.248c1.3279-7.2233 1.9918-14.643 1.9918-21.965v-25.847c-2.4187 0-8.0622-0.049138-13.706-0.049138-4.3156 0-7.7776 0-10.196 0.049138-1.8496 0-3.794 1.081-5.3115 2.9483-1.1856 1.425-2.2764 2.9483-3.2723 4.5207-1.0433 1.6707-1.6599 2.9483-2.229 4.1767-0.71137 1.4741-1.3753 2.8992-2.6084 4.619-1.2805 1.769-2.798 3.4397-4.5053 4.9138-3.4146 2.9483-6.3075 6.388-8.5838 10.319l-0.047424 0.049138v0.049138l-8.3467 14.299zm5.027-0.88449c2.0393-1.769 4.6476-2.7517 7.3508-2.7517h40.548c0.80622 0 1.4227 0.73707 1.3279 1.5724l-2.4187 16.412c-0.23712 1.5724-1.5176 2.7026-3.0352 2.6535l-10.149-0.19655c-9.4849-0.19655-18.733-2.85-26.937-7.7638l-3.13-1.8673c-1.8021-1.081-3.2723-2.6535-4.2208-4.5699-0.61652-1.1793-0.33197-2.6535 0.66394-3.4888z" fill="#E9E9E9" fill-rule="nonzero" id="solArkaKapi" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m166.04 58.376l-3.0398 16.732 2.9448-0.14764c18.476-0.98425 36.62-6.7421 52.483-16.634 3.4197-2.1653 5.9845-5.561 7.0769-9.5472 3.2297-11.467 3.9897-23.72 2.1848-35.531l-0.28498-1.7224c-0.14249-0.88582-0.85493-1.5256-1.7574-1.5256h-57.613v25.886c0 7.5295-0.66495 15.108-1.9948 22.49zm-0.28498 12.352l3.8472-15.994c0.42747-1.7224 1.8524-2.9527 3.5622-3.0512l34.055-1.9193v-0.049212c0-2.559 1.9948-4.6752 4.5121-4.6752h7.3144c0.61745 0 1.1874 0.14764 1.7574 0.34449 0.23748 0.098425 0.33247 0.3937 0.23748 0.63976-0.094992 0.24606-0.37997 0.34449-0.61745 0.24606-0.42747-0.19685-0.90243-0.29527-1.3774-0.29527h-7.3144c-1.9948 0-3.6097 1.6732-3.6097 3.7401v0.049212c0 2.313 1.8049 4.1831 4.0372 4.1831h7.3144 0.23748l-0.37997 0.24606c-13.489 9.3012-28.783 15.305-44.836 17.52l-7.0769 0.98425c-0.99742 0.19685-1.8998-0.83661-1.6624-1.9685z" fill="#E9E9E9" fill-rule="nonzero" id="solOnKapi" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m328.49 199.3c-2.1085 1.6125-3.6146 4.1094-3.8656 7.0223l-0.60244 7.0223c-0.30122 3.6412 2.2591 6.8142 5.7734 7.1263s6.5766-2.3408 6.8778-5.982l0.90366-10.611c4.2171 1.7166 8.6851 2.6009 13.254 2.6009h17.822c3.6648 0 6.7272-3.017 6.928-6.8142 0.80325-17.738 1.2551-36.256 1.2551-55.502v-0.41614c0-19.402-0.45183-38.077-1.2551-55.918-0.15061-3.7973-3.213-6.8142-6.928-6.8142h-17.772c-4.5685 0-9.0366 0.88429-13.254 2.6009l-0.90366-10.611c-0.30122-3.6412-3.4138-6.2941-6.8778-5.982-3.5142 0.3121-6.0746 3.5372-5.7734 7.1263l0.60244 7.0223c0.25102 2.913 1.7069 5.4098 3.8656 7.0223v111.11h-0.050203z" stroke="#D3D2D2"></path>
                                        <path d="m340 201.35c3.7652 1.6125 7.7313 2.4968 11.798 2.4968h15.864c3.2632 0 5.9742-2.8609 6.1248-6.5021 0.70284-16.958 1.1547-34.643 1.1547-53.005v-0.41614c0-18.518-0.40162-36.36-1.1547-53.422-0.15061-3.6412-2.8616-6.5021-6.1248-6.5021h-15.864c-4.0664 0-8.0325 0.83227-11.798 2.4968v114.85z" fill="#E9E9E9" fill-rule="nonzero" id="onTampon" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m300.87 101.87c-2.3093-4.3174-5.8738-7.6985-10.241-9.6752-2.711-1.2484-5.6729-1.8726-8.6349-1.8726h-54.119c-0.050203-0.26009-0.10041-0.41614-0.15061-0.52017-0.60244-2.0287-2.6608-8.7389-7.7815-11.08-1.8575-0.88429-3.2632-0.72824-3.5644-0.67622-0.20081 0-1.4057 0.15605-2.0081 0.67622-2.1587 1.8206 2.4097 8.3227 4.9199 11.6h-68.879c-2.1587 0-4.3677-0.26009-6.4762-0.83227-2.1085-0.57219-4.3175-0.83227-6.4762-0.83227h-51.559c-2.962 0-5.8738 0.57219-8.6349 1.6645-9.8398 3.9533-19.479 10.143-21.437 20.911-2.0081 10.82-2.3595 22.211-2.3595 32.927 0 8.999 0.25102 18.414 1.5061 27.621h-4.2673c-0.60244 0-1.6567 0-1.7069 3.4851 0 3.4331 1.3053 3.4851 3.3636 3.4851h3.7652c2.6106 9.7792 11.748 15.553 21.085 19.298 2.7612 1.0924 5.6729 1.6645 8.6349 1.6645h51.559c2.2089 0 4.3677-0.26008 6.4762-0.83227 2.1085-0.57219 4.3175-0.83227 6.4762-0.83227h68.879c-2.5102 3.2771-7.0786 9.7792-4.9199 11.6 0.60244 0.52017 1.8073 0.67622 2.0081 0.67622 0.30122 0.052018 1.7069 0.20807 3.5644-0.67622 5.0705-2.3408 7.1288-9.051 7.7815-11.08 0.050204-0.10403 0.10041-0.3121 0.15061-0.52017h54.119c2.962 0 5.924-0.62421 8.6349-1.8726 4.3175-1.9767 7.9321-5.3578 10.241-9.6752 4.4179-8.3748 10.844-23.668 10.844-42.342 0.050203-18.622-6.3758-33.915-10.794-42.29zm-186.3-4.4735h101.66c0.65264 0 0.80325 0.93631 0.15061 1.1444l-26.457 7.9586c-2.2089 0.67622-4.5183 0.98833-6.8276 0.98833h-44.38c-3.5142 0-6.9782-0.78026-10.141-2.2888l-14.258-6.7102c-0.55223-0.26009-0.35142-1.0924 0.25102-1.0924zm-14.91 83.279c-1.8575-11.08-2.9118-23.46-2.9118-36.464s1.0543-25.384 2.9118-36.464c0.30122-1.7686 2.1085-2.7049 3.6648-1.9767l14.057 7.0223c1.0041 0.52017 1.6065 1.6125 1.4559 2.7569-1.1045 8.2707-1.7571 18.102-1.7571 28.609 0 10.507 0.65264 20.339 1.7571 28.609 0.15061 1.1444-0.45183 2.2888-1.4559 2.7569l-14.057 7.0223c-1.5563 0.88429-3.3636-0.10404-3.6648-1.8726zm116.57 10.351h-101.66c-0.60244 0-0.80325-0.83228-0.25102-1.1444l14.258-6.7102c3.1628-1.5085 6.6268-2.2888 10.141-2.2888h44.38c2.3093 0 4.6187 0.36412 6.8276 0.98833l26.457 7.9586c0.60244 0.20807 0.50203 1.1964-0.15061 1.1964zm12.551-7.5425c-0.70284 2.6009-3.3134 4.1094-5.8236 3.3811l-26.708-7.8026c-2.4097-0.72824-3.8656-3.2251-3.3134-5.7739 1.8073-8.5828 2.8114-18.518 2.8114-29.13 0-10.611-1.0041-20.547-2.8114-29.13-0.50203-2.5488 0.90366-5.0457 3.3134-5.7739l26.708-7.8026c2.5102-0.72824 5.1207 0.78026 5.8236 3.3811 3.3636 12.016 5.2211 25.28 5.2211 39.325 0 14.045-1.8575 27.361-5.2211 39.325z" fill="#fff" fill-rule="nonzero" stroke="#D3D2D2"></path>
                                        <path d="m59.277 54.594s6.1176 1.9503 15.529 0.97517l5.3646 0.29255s9.2234 7.5088 12.047 7.2163c2.8235-0.34131 7.7175-8.4352 7.7175-8.4352l10.635-19.503c-0.14118 0.24379-15.2 3.4131-22.164-1.414-6.0234-4.1932-10.682-10.824-11.482-17.846l-0.79999-4.8759s-9.3175-0.39007-12.329 6.5824c-3.0117 6.9725-6.5411 9.4592-6.5411 9.4592s-0.94116 10.629 0.79999 13.262c1.6941 2.5842 1.2235 14.286 1.2235 14.286z" fill="#E9E9E9" fill-rule="nonzero" id="solArkaCamurluk" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path transform="translate(267.88 27.237) scale(-1) rotate(180) translate(-267.88 -27.237)" d="m234.26 49.983l53.188-9.0296s15.014-4.4657 16.577-8.6861c1.563-4.2204 2.3681-7.0176 1.563-10.109-0.80516-3.0917-2.8418-10.502-2.8418-10.502s3.3154-6.1833-0.61572-6.1833c-3.9311 0-15.958-0.98148-15.958-0.98148s2.3211 32.474-25.531 32.907c-25.568 0.39668-24.904-28.637-24.904-28.637h-5.8815s5.7309 23.212 0 41.222h4.4042z" fill="#E9E9E9" fill-rule="nonzero" id="solOnCamurluk" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m305.44 252.31c-5.6227-4.3174-12.099-7.1784-19.027-8.3748l-43.928-7.6465-21.738-12.848c-18.174-10.768-38.757-16.437-59.691-16.437h-20.734c-5.8236 0.20807-12.701 0.83227-20.282 2.4968-0.60244 0.15605-1.2049 0.26009-1.8073 0.41614-11.095 2.6009-21.638 7.2824-31.327 13.576-2.6106 1.6645-5.1709 3.3811-7.7815 5.0457-0.55223 0.3121-1.2049 0.46816-1.8073 0.46816h-11.547c-3.2632 0-6.426 1.0403-9.0868 2.913-0.80325 0.57219-1.1045 1.5605-0.85345 2.4968 1.6065 6.4501-2.46 12.692-2.2089 19.142 0.10041 3.7452-1.6065 7.2824 0.25102 10.455 0.80325 0.88429 1.6567 1.8206 2.46 2.7049 1.8575 2.0287 3.4138 4.2654 4.6187 6.7622 0.70284 1.3524 1.7069 2.965 3.2632 4.4215 3.5644 3.3291 7.5807 3.7973 8.8859 3.9013l2.962 0.6242c1.4559 0.3121 2.8114-0.93631 2.711-2.4448-0.050203-0.67622-0.10041-1.3524-0.10041-2.0807 0-13.004 10.241-23.564 22.842-23.46 12.551 0.10403 22.642 11.288 22.491 24.292-0.050203 2.6009-0.15061 4.9936-0.50203 7.3344-0.20081 1.4045 0.85345 2.7049 2.2591 2.7049h110.55c1.3053 0 2.3595-1.1444 2.2591-2.4968-0.20081-2.7049-0.25102-5.3057-0.25102-8.3227 0-12.9 10.041-23.356 22.441-23.46 13.003-0.10403 23.244 11.34 22.842 24.76-0.050203 2.3928-0.30122 4.6295-0.50203 6.8142-0.15061 1.4565 1.0041 2.6529 2.4097 2.5488l19.931-1.1444c2.2089-0.10404 3.7652-2.1847 3.4138-4.4215l-0.40162-2.4448 2.8616-11.08c0.35142-1.3004 0.50203-2.5488 0.50203-3.8493 0-9.9353-6.3758-13.368-6.3758-13.368z" stroke="#D3D2D2"></path>
                                        <path transform="translate(267.88 261.26) scale(-1 1) rotate(180) translate(-267.88 -261.26)" d="m234.26 284.01l53.188-9.0296s15.014-4.4657 16.577-8.6861c1.563-4.2204 2.3681-7.0176 1.563-10.109-0.80516-3.0917-2.8418-10.502-2.8418-10.502s3.3154-6.1833-0.61572-6.1833c-3.9311 0-15.958-0.98148-15.958-0.98148s2.3211 32.474-25.531 32.907c-25.568 0.39668-24.904-28.637-24.904-28.637h-5.8815s5.7309 23.212 0 41.222h4.4042z" fill="#E9E9E9" fill-rule="nonzero" id="sagOnCamurluk" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m114.9 247.46l0.047425 0.098276c2.2764 3.9311 5.1693 7.4199 8.5838 10.319 1.7547 1.4741 3.2723 3.1448 4.5053 4.9138 1.233 1.7198 1.897 3.1448 2.6084 4.619 0.61652 1.2285 1.233 2.5552 2.229 4.1767 0.99592 1.5724 2.0867 3.0957 3.2723 4.5207 1.5176 1.8181 3.462 2.8992 5.3115 2.9483 2.4661 0.049138 5.8806 0.049138 10.196 0.049138 5.5961 0 11.287-0.049138 13.706-0.049138v-25.847c0-7.3707-0.66394-14.741-1.9918-21.965l-3.13-17.248h-13.469c-10.813 0-21.578 2.7517-31.158 7.9113l-4.6476 2.506c-2.2764 1.2285-3.9362 3.2431-4.7899 5.7492-0.33197 0.98276-0.1897 2.0638 0.33197 2.9974l8.3941 14.299zm-3.9837-16.904c0.94849-1.9164 2.4187-3.4888 4.2208-4.5699l3.13-1.8673c8.2044-4.9138 17.452-7.5673 26.937-7.7638l10.149-0.19655c1.5176-0.049138 2.8455 1.1302 3.0352 2.6535l2.4187 16.412c0.14227 0.83535-0.47425 1.5724-1.3279 1.5724h-40.548c-2.7032 0-5.2641-0.98276-7.3508-2.7517-0.94849-0.83535-1.233-2.3095-0.66394-3.4888z" fill="#E9E9E9" fill-rule="nonzero" id="sagArkaKapi" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m169.03 253.22v25.886h57.66c0.85493 0 1.6149-0.63976 1.7574-1.5256l0.28498-1.7224c1.8049-11.811 1.0449-24.065-2.1848-35.531-1.1399-3.9862-3.6572-7.3819-7.0769-9.5472-15.911-9.9409-34.055-15.65-52.531-16.634l-2.9448-0.14764 3.0398 16.732c1.3299 7.3819 1.9948 14.961 1.9948 22.49zm-0.52246-36.86l7.0769 0.98425c16.054 2.2146 31.395 8.2185 44.836 17.52l0.37997 0.24606h-0.23748-7.3144c-2.2323 0-4.0372 1.8701-4.0372 4.1831v0.049213c0 2.0669 1.6149 3.7401 3.6097 3.7401h7.3144c0.47496 0 0.94992-0.098425 1.3774-0.29528 0.23748-0.098425 0.52246 0 0.61745 0.24606 0.094992 0.24606 0 0.54134-0.23748 0.63976-0.56996 0.24606-1.1399 0.34449-1.7574 0.34449h-7.3144c-2.4698 0-4.5121-2.0669-4.5121-4.6752v-0.049213l-34.055-1.9193c-1.7099-0.098425-3.1348-1.3287-3.5622-3.0512l-3.8472-15.994c-0.33247-1.0827 0.56996-2.1161 1.6624-1.9685z" fill="#E9E9E9" fill-rule="nonzero" id="sagOnKapi" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m58.43 234.06s6.5264-2.0807 16.567-1.0403l5.7232-0.3121s9.8398-8.0106 12.852-7.6985c3.0122 0.36412 8.2333 8.999 8.2333 8.999l11.346 20.807c-0.15061-0.26008-16.216-3.6412-23.646 1.5085-6.426 4.4735-11.396 11.548-12.25 19.038l-0.85345 5.2017s-9.9402 0.41614-13.153-7.0223c-3.213-7.4385-6.9782-10.091-6.9782-10.091s-1.0041-11.34 0.85345-14.149c1.8073-2.7569 1.3053-15.241 1.3053-15.241z" fill="#E9E9E9" fill-rule="nonzero" id="sagArkaCamurluk" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m230 100s14.961 40.833 0 87.129h53.968s20.633-8.1667 18.876-43.07c-1.7571-34.904-18.876-44.059-18.876-44.059h-53.968z" fill="#E9E9E9" fill-rule="nonzero" id="motorKaputu" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m95.64 100.03h-23.897s-10.743-1.3004-10.743 13.004v65.594s1.7069 8.7909 8.4843 8.7909h26.156s-8.5345-37.712 0-87.389z" fill="#E9E9E9" fill-rule="nonzero" id="arkaKaput" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m126.16 111s-10.794 28.349-1.1547 64.501h63.658s8.7855-32.771 0-64.501h-62.503z" fill="#E9E9E9" fill-rule="nonzero" id="tavan" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m361.78 111.14s0.050203-7.4385-2.6608-11.34c-2.711-3.9013-12.701-7.8026-12.701-7.8026s-2.9118 22.471 6.677 28.505c9.5888 6.034 8.6851-9.3631 8.6851-9.3631z" fill="#fff" fill-rule="nonzero"></path>
                                        <path d="m361.78 179.77s0.050203 7.4385-2.6608 11.34-12.701 7.8026-12.701 7.8026-2.9118-22.471 6.677-28.505c9.5888-6.034 8.6851 9.3631 8.6851 9.3631z" fill="#fff" fill-rule="nonzero"></path>
                                        <path d="m39.259 83.601c-4.2171-1.7166-8.6851-2.6009-13.254-2.6009h-17.822c-3.6648 0-6.7272 3.017-6.928 6.8142-0.80325 17.738-1.2551 36.256-1.2551 55.502v0.41614c0 19.402 0.45183 38.077 1.2551 55.918 0.15061 3.7973 3.213 6.8142 6.928 6.8142h17.822c4.5685 0 9.0366-0.88429 13.254-2.6009v-120.26z" stroke="#D3D2D2"></path>
                                        <path d="m36.941 86.497c-3.7652-1.6125-7.7313-2.4968-11.798-2.4968h-15.864c-3.2632 0-5.9742 2.8609-6.1248 6.5021-0.70284 16.958-1.1547 34.643-1.1547 53.005v0.41614c0 18.518 0.40162 36.36 1.1547 53.422 0.15061 3.6412 2.8616 6.5021 6.1248 6.5021h15.864c4.0664 0 8.0325-0.83228 11.798-2.4968v-114.85z" fill="#E9E9E9" fill-rule="nonzero" id="arkaTampon" style="fill: rgb(126, 201, 126);">
                                        </path>
                                        <path d="m28.681 136.18h-4.1669c-1.9077 0-3.5142-1.6125-3.5142-3.6412v-39.897c0-2.0287 1.6065-3.6412 3.5142-3.6412h4.1669c1.9077 0 3.5142 1.6125 3.5142 3.6412v39.897c0 2.0287-1.6065 3.6412-3.5142 3.6412z" fill="#fff" fill-rule="nonzero"></path>
                                        <path d="m28.681 199.18h-4.1669c-1.9077 0-3.5142-1.6125-3.5142-3.6412v-39.897c0-2.0287 1.6065-3.6412 3.5142-3.6412h4.1669c1.9077 0 3.5142 1.6125 3.5142 3.6412v39.897c0 2.0287-1.6065 3.6412-3.5142 3.6412z" fill="#fff" fill-rule="nonzero"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="w50 font-default-minus fl">
                    <ul class="color-grey6 horizontal-double-padder pr4 pb8 font-default-minus vertical-half-offset">
                        <li class="vertical-half-offset">
                            <span class="dib">Sağ Arka Çamurluk: </span> <span id="sagArkaCamurluk_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Arka Kaput: </span> <span id="arkaKaput_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sol Arka Çamurluk: </span> <span id="solArkaCamurluk_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sağ Arka Kapı: </span> <span id="sagArkaKapi_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sağ Ön Kapı: </span> <span id="sagOnKapi_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Tavan: </span> <span id="tavan_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sol Arka Kapı: </span> <span id="solArkaKapi_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sol Ön Kapı: </span> <span id="solOnKapi_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sağ Ön Çamurluk: </span> <span id="sagOnCamurluk_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Motor Kaputu: </span> <span id="motorKaputu_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Sol Ön Çamurluk: </span> <span id="solOnCamurluk_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Ön Tampon: </span> <span id="onTampon_lbl"></span>
                        </li>
                        <li class="vertical-half-offset">
                            <span class="dib">Arka Tampon: </span> <span id="arkaTampon_lbl"></span>
                        </li>
                    </ul>
                    <ul class="cf horizontal-double-offset pl4 pr4 font-default-minus pt20 vertical-padder border-top-grey2 damage-legends">
                        <li class="box-w33 vertical-half-offset-minus">
                            <i style="    color: #e9e9e9;" class="fa fa-circle color-grey1" aria-hidden="true"></i>
                            <span class="pl4">Belirtilmemiş</span>
                        </li>
                        <li class="box-w33 vertical-half-offset-minus">
                            <i style="color: #47b347;" class="fa fa-circle color-green4" aria-hidden="true"></i>
                            <span class="pl4">Orijinal</span>
                        </li>
                        <li class="box-w33 vertical-half-offset-minus">
                            <i style="color: #fdb724" class="fa fa-circle color-yellow4" aria-hidden="true"></i>
                            <span class="pl4">Boyalı</span>
                        </li>
                        <li class="box-w33 vertical-half-offset-minus">
                            <svg width="10px" height="12px" viewBox="0 0 20 24">
                                <circle fill="url('#Gradient_local')" cx="8" cy="10" r="14"></circle>
                            </svg>
                            <span class="pl4">Lokal Boyalı</span>
                        </li>
                        <li class="box-w33 vertical-half-offset-minus">
                            <i style="color: #e40030;" class="fa fa-circle color-red4" aria-hidden="true"></i>
                            <span class="pl4">Değişmiş</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        tpage =
        {
            url: '/AracHasar',
            name: 'Araç Hasar Yönetimi',
            form: [
                {
                    dataField: "aracId",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/Araclar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Araç Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Araç"
                    },
                    validationRules: [{
                        type: "required",
                        message: "Lütfen araç seçiniz."
                    }]
                },
                {
                    dataField: "sagArkaCamurluk",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sağ Arka Çamurluk"
                    }
                },
                {
                    dataField: "arkaKaput",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Arka Kaput"
                    }
                },
                {
                    dataField: "solArkaCamurluk",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sol Arka Çamurluk"
                    }
                },
                {
                    dataField: "sagArkaKapi",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sağ Arka Kapı"
                    }
                },
                {
                    dataField: "sagOnKapi",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sağ Ön Kapı"
                    }
                },
                {
                    dataField: "tavan",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Tavan"
                    }
                },
                {
                    dataField: "solArkaKapi",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sol Arka Kapı"
                    }
                },
                {
                    dataField: "solOnKapi",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sol Ön Kapı"
                    }
                },
                {
                    dataField: "sagOnCamurluk",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sag Ön Çamurluk"
                    }
                },
                {
                    dataField: "motorKaputu",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Motor Kaputu"
                    }
                },
                {
                    dataField: "solOnCamurluk",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Sol Ön Çamurluk"
                    }
                },
                {
                    dataField: "onTampon",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Ön Tampon"
                    }
                },
                {
                    dataField: "arkaTampon",
                    editorType: "dxSelectBox",
                    editorOptions: {
                        onInitialized: async function (e) {
                            var items = await (await fetch("/AracHasar/Select")).json()
                            e.component.option('items', items)
                        },
                        searchEnabled: true,
                        placeholder: 'Hasar Seçiniz',
                        displayExpr: "text",
                        valueExpr: "id",
                    },
                    label: {
                        text: "Arka Tampon"
                    }
                },
                buttomButtons
            ],
            table: [
                {
                    type: "buttons",
                    buttons: [{
                        hint: "Düzenle",
                        icon: "edit",
                        onClick: (e) => editButtonOnClick(e, "/AracHasar")
                    }, {
                        hint: "Göster",
                        icon: "fa fa-car",
                        onClick: (e) => {
                            console.log(e)
                            var renkler = [
                                "#e9e9e9",
                                "#47b347",
                                "#fdb724",
                                "#fdb724",
                                "#e40030"
                            ]

                            $('#sagArkaCamurluk').css('fill', renkler[e.row.data.aracHasar.sagArkaCamurluk])
                            document.getElementById('sagArkaCamurluk').innerHTML = "<title>" + e.row.data.sagArkaCamurluk + "</title>"
                            document.getElementById('sagArkaCamurluk_lbl').innerHTML = e.row.data.sagArkaCamurluk

                            $('#arkaKaput').css('fill', renkler[e.row.data.aracHasar.arkaKaput])
                            document.getElementById('arkaKaput').innerHTML = "<title>" + e.row.data.arkaKaput + "</title>"
                            document.getElementById('arkaKaput_lbl').innerHTML = e.row.data.arkaKaput

                            $('#arkaTampon').css('fill', renkler[e.row.data.aracHasar.arkaTampon])
                            document.getElementById('arkaTampon').innerHTML = "<title>" + e.row.data.arkaTampon + "</title>"
                            document.getElementById('arkaTampon_lbl').innerHTML = e.row.data.arkaTampon

                            $('#motorKaputu').css('fill', renkler[e.row.data.aracHasar.motorKaputu])
                            document.getElementById('motorKaputu').innerHTML = "<title>" + e.row.data.motorKaputu + "</title>"
                            document.getElementById('motorKaputu_lbl').innerHTML = e.row.data.motorKaputu

                            $('#onTampon').css('fill', renkler[e.row.data.aracHasar.onTampon])
                            document.getElementById('onTampon').innerHTML = "<title>" + e.row.data.onTampon + "</title>"
                            document.getElementById('onTampon_lbl').innerHTML = e.row.data.onTampon

                            $('#sagArkaKapi').css('fill', renkler[e.row.data.aracHasar.sagArkaKapi])
                            document.getElementById('sagArkaKapi').innerHTML = "<title>" + e.row.data.sagArkaKapi + "</title>"
                            document.getElementById('sagArkaKapi_lbl').innerHTML = e.row.data.sagArkaKapi

                            $('#sagOnCamurluk').css('fill', renkler[e.row.data.aracHasar.sagOnCamurluk])
                            document.getElementById('sagOnCamurluk').innerHTML = "<title>" + e.row.data.sagOnCamurluk + "</title>"
                            document.getElementById('sagOnCamurluk_lbl').innerHTML = e.row.data.sagOnCamurluk

                            $('#sagOnKapi').css('fill', renkler[e.row.data.aracHasar.sagOnKapi])
                            document.getElementById('sagOnKapi').innerHTML = "<title>" + e.row.data.sagOnKapi + "</title>"
                            document.getElementById('sagOnKapi_lbl').innerHTML = e.row.data.sagOnKapi

                            $('#solArkaCamurluk').css('fill', renkler[e.row.data.aracHasar.solArkaCamurluk])
                            document.getElementById('solArkaCamurluk').innerHTML = "<title>" + e.row.data.solArkaCamurluk + "</title>"
                            document.getElementById('solArkaCamurluk_lbl').innerHTML = e.row.data.solArkaCamurluk

                            $('#solArkaKapi').css('fill', renkler[e.row.data.aracHasar.solArkaKapi])
                            document.getElementById('solArkaKapi').innerHTML = "<title>" + e.row.data.solArkaKapi + "</title>"
                            document.getElementById('solArkaKapi_lbl').innerHTML = e.row.data.solArkaKapi

                            $('#solOnCamurluk').css('fill', renkler[e.row.data.aracHasar.solOnCamurluk])
                            document.getElementById('solOnCamurluk').innerHTML = "<title>" + e.row.data.solOnCamurluk + "</title>"
                            document.getElementById('solOnCamurluk_lbl').innerHTML = e.row.data.solOnCamurluk

                            $('#solOnKapi').css('fill', renkler[e.row.data.aracHasar.solOnKapi])
                            document.getElementById('solOnKapi').innerHTML = "<title>" + e.row.data.solOnKapi + "</title>"
                            document.getElementById('solOnKapi_lbl').innerHTML = e.row.data.solOnKapi

                            $('#tavan').css('fill', renkler[e.row.data.aracHasar.tavan])
                            document.getElementById('tavan').innerHTML = "<title>" + e.row.data.tavan + "</title>"
                            document.getElementById('tavan_lbl').innerHTML = e.row.data.tavan


                            $('#aracmodal').modal('show')
                        }
                    }]
                },
                {
                    dataField: "id",
                    caption: "No",
                },
                {
                    dataField: "plaka",
                    caption: "Plaka",
                },
                {
                    dataField: "sagArkaCamurluk",
                    caption: "Sağ Arka Çamurluk"

                },
                {
                    dataField: "arkaKaput",
                    caption: "Arka Kaput"
                },
                {
                    dataField: "solArkaCamurluk",
                    caption: "Sol Arka Çamurluk"
                },
                {
                    dataField: "sagArkaKapi",
                    caption: "Sağ Arka Kapı"
                },
                {
                    dataField: "tavan",
                    caption: "Tavan"
                },
                {
                    dataField: "solArkaKapi",
                    caption: "Sol Arka Kapı"
                },
                {
                    dataField: "solOnKapi",
                    caption: "Sol Ön Kapı"
                },
                {
                    dataField: "sagOnCamurluk",
                    caption: "Sag Ön Çamurluk"
                },
                {
                    dataField: "sagOnKapi",
                    caption: "Sağ Ön Kapı"
                },
                {
                    dataField: "motorKaputu",
                    caption: "Motor Kaputu"
                },
                {
                    dataField: "solOnCamurluk",
                    caption: "Sol Ön Çamurluk"
                },
                {
                    dataField: "onTampon",
                    caption: "Ön Tampon"
                },
                {
                    dataField: "arkaTampon",
                    caption: "Arka Tampon"
                }
            ]
        };
        pageInit(tpage)
    </script>
}